<mat-toolbar color="primary">
    <div >
        <a fxLayoutAlign="center center" routerLink="/" class="logo-a">
            <img src="../../../assets/logo.png" class="logo" alt="Logo" />
        </a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon class="menu">menu</mat-icon>
        </button>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li *ngIf="!isAuth">
                <a routerLink="/signup">Signup</a>
            </li>
            <li *ngIf="!isAuth">
                <a routerLink="/login">Login</a>
            </li>
            <li *ngIf="isAuth">
                <a routerLink="/courses">Courses</a>
            </li>
            <li *ngIf="isAuth">
                <a routerLink="/training">Training</a>
            </li>
            <li *ngIf="isAuth">
                <a style="cursor: pointer" (click)="onLogout()">Logout</a>
            </li>
        </ul>
    </div>
</mat-toolbar>