<div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayout.gt-md="20px" fxLayoutAlign="center center">
    <section>
        <h1>Lorem ipsum dolor</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </section>
    <section>
        <h1>Lorem ipsum dolor</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    </section>
    <section>
        <h1>Lorem ipsum dolor</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    </section>
</div>