<main>
  <section id="hero">
    <img src="../../assets/hero.jpg" class="img--bg" alt="Background poster" />

    <h1 class="hero__title">NO EXCUSES!</h1>
    <h2 class="hero__subtitle">GET FIT NOW</h2>
  </section>

  <div *ngFor="let activity of activities; index as i">
    <div class="divider"></div>
    <section class="info section">
      <div class="info__wrapper">
        <h2 class="info__title"> {{activity.title}} </h2>
        <p class="info__description">
          {{activity.description}}
        </p>
      </div>
      <img class="info__poster" [src]="activities[i].image" />
    </section>
  </div>



</main>